.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
  position: relative;
  z-index: 2;
  margin-bottom: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  justify-content: center;
}

.themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.themeToggle img {
  width: 25px;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
}

[data-theme='dark'] .menuToggle {
  color: white;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--background-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

.showMenu {
  display: flex;
  flex-direction: column;
}

.menu a {
  padding: 1rem;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navLink {
 text-decoration: none;
 font-size: 1.5rem;
 color: var(--text-color);
 padding: 0.5rem 1 rem;
 border-radius: 5px;
 transition: all 0.3s ease-in-out;
 cursor: pointer;
}

.navLink:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.prev {
  margin-left: 1rem;
}

.next {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .menuToggle {
    display: block;
  }

  .themeToggle {
    margin-right: 1rem;
  }

  .prev {
    left: 0;
    margin-left: 1rem;
  }

  .next {
    right: 0;
    margin-right: 1rem;
  }
}













